---
import Card from "../components/Card.astro";
import HelloComponent from "../components/HelloComponent.jsx";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Document</title>
  </head>
  <body>
    <Card
      title="Hola mundo"
      text="Lorem ipsum dolor sit amet, consectetur adipisicing elit. Esse officia illum sit quas distinctio quidem minima quisquam deleniti? Nam unde maiores dolores pariatur nihil praesentium, omnis deserunt quasi quod qui?"
    />
    <HelloComponent client:load />
  </body>
</html>
